@use "../../styles/vars" as *;
@use "../../styles/breakpoints" as screen;

.qr-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 45px;
  height: max-content;
  width: max-content;
  justify-self: center;
  grid-template-rows: auto auto;
  background-color: lighten(gray, 30);
  border-radius: $base-border-radius * 0.5;
  padding: $base-padding;
  input {
    width: 100%;
    height: 1.5rem;
  }
  input:not(input[type="color"]) {
    padding: 3px;
  }
  form {
    display: grid;
    gap: 10px;
    justify-self: center;
    min-width: 30rem;
    @include screen.md {
      min-width: 100%;
    }
  }

  .qr-container {
    justify-self: center;
    display: grid;
    canvas {
      justify-self: center;
      cursor: pointer;
      &:hover {
        border: 3px solid black;
      }
      &:active {
        border: none;
      }
    }
    div {
      text-align: center;
      margin-top: 10px;
      font-weight: bold;
    }
  }
}
