.barcode-container {
  border: 2px dotted gray;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 3px;
  img {
    grid-area: 1/1;
    z-index: 0;
    align-self: center;
    justify-self: center;
  }

  .copy-message-container {
    grid-area: 1/1;
    z-index: 1;
    background-color: lighten(gray, 30);
    opacity: 0;
    display: grid;
    padding: 5px;
    min-width: 10rem;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    $scale: 0.98;
    &:active {
      scale: $scale;
      & + img {
        scale: $scale;
      }
    }

    div {
      align-self: center;
      justify-self: center;
      font-size: 1rem;
      font-weight: bold;
      color: black;
      user-select: none;
    }
  }
}
