@use "../../styles/breakpoints" as screen;
@use "../../styles/vars" as *;
$grid-gap: 5px;

.barcode-generator {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  height: max-content;
  width: max-content;
  justify-self: center;
  align-items: center;
  gap: $grid-gap * 4;
  background-color: lighten(gray, 30);
  border-radius: $base-border-radius * 0.5;
  padding: $base-padding;
}

.barcode-section {
  justify-self: center;
  & > div:last-child {
    margin-top: $grid-gap;
    text-align: center;
    input {
      margin-left: $grid-gap;
    }
  }
}
.barcode-container {
  justify-self: center;
  height: 100%;

  border: 2px dotted gray;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 10px;
  img {
    overflow: scroll;
    max-width: 100%;
    grid-area: 1/1;
    z-index: 0;
    align-self: center;
    justify-self: center;
  }

  .copy-message-container {
    grid-area: 1/1;
    z-index: 1;
    background-color: lighten(gray, 30);
    opacity: 0;
    display: grid;
    padding: 5px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    $scale: 0.98;
    &:active {
      scale: $scale;
      & + img {
        scale: $scale;
      }
    }

    div {
      align-self: center;
      justify-self: center;
      font-size: 1rem;
      font-weight: bold;
      color: black;
      user-select: none;
    }
  }
}

.barcode-form {
  justify-self: center;
  display: grid;
  gap: $grid-gap * 2;
  min-width: 30rem;
  @include screen.md {
    min-width: 100%;
  }
  input:not(input[type="checkbox"]),
  select {
    width: 100%;
  }
  input:not(input[type="color"]),
  select {
    padding: 3px;
  }
  // select {
  //   margin-top: $grid-gap;
  // }
}

.form-row-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $grid-gap;
}

.form-row-2-auto {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: $grid-gap;
}

.form-row-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $grid-gap;
}

.vertical-stack {
  display: grid;
  grid-template-rows: auto auto;
  align-content: center;
}

.small-font {
  font-size: 1rem * 0.75;
}

.display-none {
  display: none !important;
}
