.barcode-generator {
  img {
    cursor: pointer;
    &:hover {
      scale: 1.01;
    }
    &:active {
      scale: 1;
    }
  }
}

.barcode-container {
  padding: 5px;
  border: 2px dotted gray;
  width: max-content;
}
