@use "../../styles/vars" as *;
@use "sass:map";
nav {
  $font-size: 1.5rem;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: max-content;
  gap: 10px;
  font-size: $font-size;
  div {
    display: grid;
    align-items: center;
  }
  button {
    background-color: transparent;
    border: 3px solid white;
    border-radius: $base-border-radius * 0.3;
    padding: $base-padding * 0.5;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
    &.active {
      background-color: map.get($map: $colors, $key: link);
    }
    &:hover {
      scale: 1.025;
    }
    &:active {
      scale: 1;
    }
  }
}
